<h1>New diary entry</h1>
<form action="/entries/new/added" method="post">
  <input type="text" name="title" placeholder="Title" maxlength="40"><br><br>
  <textarea name="body" style="resize:none" rows="6" cols="60" maxlength="500" placeholder="What's happening?"></textarea><br><br>
  <input type="submit" value="Submit">
</form>
